body{
    width: 80%;
    margin: auto; 
    font-family: 'Spartan';
    background-image: url(bg-pattern-bottom-desktop.svg), url(bg-pattern-top-desktop.svg);
    background-position: right bottom, left top;
    background-repeat: no-repeat, no-repeat;
    background-size: 75%, 40%;
}
#web_top{
    margin-top: 6%;
    display: inline-flex;
    width: 100%;
    height: auto;
}
#web_top #info{  
    width: 55%;
}
#web_top #info h1{  
    font-size:58px;
    color:hsl(300, 43%, 22%) ;
    
}
#web_top #info h1 span{  
    font-size: 46px;
    
}
#web_top #info p{  
    color:#b9b4b8;
    font-size: 15px;
}

#web_top #templeat{  
    margin-left: 10%;
    margin-top: 4%;
    width: 50%;
    display:block;
}
#web_top #templeat .itoil{  
   display: inline-flex;
   background-color: #f7f2f8;
   width: 70%;
   margin-top: 10px;
   border-radius: 10px;
   padding-left: 5%;
   padding-right: 5%;
}
#web_top #templeat .itoil:nth-child(2){  
   margin-left: 7%; 
 }
 #web_top #templeat .itoil:nth-child(3){  
    margin-left: 14%; 
  }
#web_top #templeat .itoil section{  
      width:30% ;
      margin-top: 19px;
      
 }

#cards{
    margin-top: 5%;
    display:inline-flex;
    width: 100%;
    height: auto;
    
}
.card{
    background-color: hsl(300, 43%, 22%);
    height:60%;
    margin-left: 2%;
    border-radius: 10px;
    padding: 20px;
    
}
.card:first-child{
    margin-left: 0% !important;
}
.card:nth-child(2)
{
    margin-top: 2%;
}
.card:last-child{
    margin-top: 4%;
    margin-right: 2% !important;
    
    
}
.card .card_img{
    display: inline-flex;
    width: 100%;
}
.card .card_img img{
    border-radius: 50%;
    margin-right:5%; 
}

.card .card_img p{
    color: white !important;
}
.card .card_img p {
    border-radius: 50%;
    color: hsl(300, 43%, 22%);
} 
.card .card_img p .ver{
    border-radius: 50%;
    color: hsl(333, 80%, 67%) !important;
} 
.card p{
    color: hsl(0, 0%, 100%);
    width: 400;
}

@media(max-width:700px)
{   
    #web_top{
        display:block;_
    }
    #web_top #info{
        width: 100%;
    } 
    #web_top #info h1,p{
        text-align: center;
    }
    #web_top #templeat {  
        display:block;
        width: 90%;
        margin-left: 5%;
     }
    #web_top #templeat .itoil{  
        display:block;
        text-align: center;
        width: 90%;     
     }
     #web_top #templeat .itoil:nth-child(2){  
        margin-left: 0%; 
      }
      #web_top #templeat .itoil:nth-child(3){  
         margin-left: 0%; 
       }
     #web_top #templeat .itoil section{  
        width: 100%;
        text-align: center;
        margin-bottom: -20px;
     }
    #cards{
      display:block;
    }
    .card{
        margin-left: 0% !important; 
        width: 90%;
        height: 70%;
    }
} 
@media(max-width:1524px)
{   
    #web_top #templeat .itoil{  
        display:block;
        text-align: center;
        width: 90%;     
     }
     #web_top #templeat .itoil section{  
        width: 100%;
        text-align: center;
        margin-bottom: -20px;
     }
    
} 


