*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 15px;
    font-family: 'spartan',sans-serif;
}
body{
    background-image: url(bg-pattern-bottom-desktop.svg), url(bg-pattern-top-desktop.svg);
    background-position: right bottom, left top;
    background-repeat: no-repeat;
    background-size: 50%;
    position: absolute;
    width: 100%;
    height: auto;

}
main{
    width: 90%;
    height: auto;
    background-color: white;
    position: relative;
    justify-content: center;
    top: 5rem;
    left: 5rem;
    bottom: 5rem;
    
}
.text{
    width: 50%;
    height: auto;
}
.content{
    display: flex;
    
}
.big-text{
    font-size: 3rem;
    color:hsl(300, 43%, 22%) ;
    margin-bottom: 1rem;
}
.spase{
    color: hsl(303, 10%, 53%);
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
.ate{
    margin-left: 15rem;
    margin-top: 5rem;
    color: hsl(300, 43%, 22%)
    
    
}
.bord{
    display: flex;
    flex-direction: row;
    background-color:hsl(300, 24%, 96%) ;
    height: 2rem;
    width: 400px;
    justify-content: center;
    padding-top: 1rem;
    border-radius: .5rem;
    
    
}

.bord2{
    display: flex;
    flex-direction: row;
    margin-left: 2.5rem;
    background-color:hsl(300, 24%, 96%) ;
    height: 2rem;
    width: 400px;
    justify-content: center;
    padding-top: 1rem;
    border-radius: .5rem;
    
    
}
.bord3{
    display: flex;
    flex-direction: row;
    margin-left: 5rem;
    background-color:hsl(300, 24%, 96%) ;
    height: 2rem;
    width: 400px;
    justify-content: center;
    padding-top: 1rem;
    border-radius: .5rem;
}
.a{
    margin-left: 1rem;
    
}
.container{
    display: flex;
    margin-top: 4rem;
    margin-bottom: 10rem;
    
    
    
}
.cotlon{
    border-radius: 1rem;
    margin-right: 5rem;
    padding: 1.5rem;
    width: 23rem;
    height: 14rem;
    background-color:hsl(300, 43%, 22%) ;
  
}
.cotlon .image-colton{
    border-radius: 50%;
}

.re{
    float:right;
    margin-right: 8.5rem;
    margin-top: 1rem;
}
.re h5{
    color: white;
    margin-bottom: .5rem;
    font-size: 1rem;
}
.re h6{
    color: hsl(333, 80%, 67%);
    margin-bottom: .5rem;
    
}
.irene{
    border-radius: 1rem;
    margin-right: 5rem;
    margin-top: 1rem;
    padding: 1.5rem;
    width: 23rem;
    height: 14rem;
    background-color:hsl(300, 43%, 22%) ;
  
}
.irene .image-irene{
    border-radius: 50%;
}
.ra{
    float: right;
    margin-right: 8rem;
    margin-top: 1rem;
}
.ra h5{
    color: white;
    margin-bottom: .5rem;
    font-size: 1rem;
}
.ra h6{
    color: hsl(333, 80%, 67%);
    margin-bottom: .5rem;
    
}

.anne{
    border-radius: 1rem;
    margin-right: 5rem;
    margin-top: 2rem;
    padding: 1.5rem;
    width: 23rem;
    height: 14rem;
    background-color:hsl(300, 43%, 22%) ;
  
}
.anne .image-anne{
    border-radius: 50%;
}
.rb{
    float: right;
    margin-right: 8rem;
    margin-top: 1rem;
}
.rb h5{
    color: white;
    margin-bottom: .5rem;
    font-size: 1rem;
}
.rb h6{
    color: hsl(333, 80%, 67%);
    margin-bottom: .5rem;
    
}
.byed{
    color: white;
    margin-top: 1rem;
}
@media (max-width: 600px)
{
    main{
        width: 90%;
        height: auto;
        background-color: white;
        position: relative;
        justify-content: center;
        top: 5rem;
        left: 1rem;
        bottom: 5rem;

    }
    .content{
        width: 100%;
        display: block;
        text-align: center;
        justify-content: center;

    }
    .text{
        width: 100%;
        height: auto;
        text-align: center;
    }  
    .big-text{
        
        height: auto;
        font-size: 1.5rem;
        color:hsl(300, 43%, 22%) ;
        margin-bottom: 1rem;
        text-align: center;
    }
    .spase{
        
        height: auto;
        color: hsl(303, 10%, 53%);
        font-size: .5rem;
        text-align: center;
        margin-bottom: 2rem;
    }
    .container{
        display: block;
        margin-top: 4rem;
        margin-bottom: 10rem;
        margin-left: 0rem;
        margin-right: 10rem;
        justify-content: center;
        
        
        
    } 
    .ate{
        width: 100%;
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 5rem;
        color: hsl(300, 43%, 22%);
        justify-content: center;
        
        
    }
    .bord{
        display: block;
        background-color:hsl(300, 24%, 96%) ;
        height: 4rem;
        width: 400px;
        justify-content: center;
        padding-top: 1rem;
        border-radius: .5rem;
        
        
    } 
    .bord2{
        display: block;
        margin-left: 0;
        background-color:hsl(300, 24%, 96%) ;
        height: 4rem;
        width: 400px;
        justify-content: center;
        padding-top: 1rem;
        border-radius: .5rem;
    }
    .bord3{
        display: block;
        margin-left: 0;
        background-color:hsl(300, 24%, 96%) ;
        height: 4rem;
        width: 400px;
        justify-content: center;
        padding-top: 1rem;
        border-radius: .5rem;
    }
    .cotlon .irene .anne{
        margin-right: ;
    }
    
}
